[submodule "patches/kernel_compiler_patch"]
	path = patches/kernel_compiler_patch
	url = https://github.com/graysky2/kernel_compiler_patch.git
[submodule "patches/clearlinux"]
	path = patches/clearlinux
	url = https://github.com/clearlinux-pkgs/linux.git
[submodule "patches/xanmod"]
	path = patches/xanmod
	url = https://gitlab.com/xanmod/linux-patches.git
[submodule "patches/cachy"]
	path = patches/cachy
	url = https://github.com/CachyOS/kernel-patches.git
